.blog_wrap {
	display: flex;
	// grid-template-columns: 256px 1fr;
	min-height: 100vh;
	width: 50%;
	margin: 0 auto;
	// height: calc(100% - 53px);
	// margin-top: 53px;
	padding: 2rem;
	background-color: #fff;
	.title {
		color: #fff;
		font-weight: 400;
		font-size: 1rem;
	}

	// .left {
	// 	height: calc(100% - 53px);
	// 	margin-top: 53px;
	// 	padding: 2rem 3rem;
	// 	background-color: #fff;

	// 	.title {
	// 		color: #fff;
	// 		font-weight: 400;
	// 		font-size: 1rem;
	// 	}
	// }

	.right {
		height: calc(100% - 53px);

		margin-top: 53px;
		padding: 2rem;
		background-color: #fff;
	}
}

.formGap {
	padding: 2rem 0;
}

.textCenter {
	text-align: center;
}

.blogList {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0.4rem;
	padding: 0.2rem 1rem;
	font-weight: normal;
	font-size: 0.9rem;
	background-color: #fff;
	border-radius: 4px;
}

.blogList:hover {
	background-color: #f8fcff;
	cursor: pointer;
}

.blogName {
	color: #000;
	font-size: 0.9rem;
}

.slug {
	font-size: 0.8rem;
	opacity: 0.8;
}

.blogListTitle {
	position: sticky;
	top: 53px;
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0.4rem;
	padding: 1rem;
	font-size: 1rem;
	background-color: lavender;
	background-color: #fff;
}

.blogDel {
	padding: 0.2rem;
}

.backToAdd {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	color: #fff;
	text-align: center;
	cursor: pointer;
	opacity: 0.8;
}

.btnGroup {
	float: left;
	padding: 10px;
	text-align: center;
}

.blogAdd {
	padding: 0.2rem;
}

.rowGap {
	padding: 0;
}

.textField {
	width: 100%;
}

.main_menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 56px;
	height: 100%;
	margin: 0;
	padding: 53px 0 0;
	overflow: hidden;
	background: #fafafa;
	border: 1px solid #efefef;
	outline: 0;

	opacity: 1;
	transition: width 0.2s linear;
}

// .main_menu:hover,
// .main_menu.expanded {
// 	width: 256px;
// 	overflow: hidden;
// 	opacity: 1;
// }

.normal {
	display: flex;
	// grid-template-columns: 1fr;
	min-height: 100vh;
	width: 256px;
	background-color: rgb(132, 132, 132);
}

.hidden {
	display: none;
}
