.wrapper {
	width: 100%;
	min-height: 100vh;
	padding-top: 69px;

	padding-right: 1rem;
	padding-bottom: 1rem;
	padding-left: 260px;
	background-color: #fafafa;
}

.repo_creator {
	display: grid;
	grid-template-columns: 1fr;
	width: 180px;
	height: 210px;
	background-color: rgb(255, 255, 255);
	border-radius: 1rem;
	border-radius: 8px;
	box-shadow: rgb(0 0 0 / 8%) 0 2px 4px, rgb(0 0 0 / 6%) 0 2px 12px;
	transition: all 0.2s ease-in 0s;
	animation: 0.3s ease-in-out 0s;

	.left {
		display: grid;
		grid-template-rows: 1fr 80px;
		padding: 24px 16px;
		color: #fff;
		font-size: 20px;
		background-color: rgb(4, 135, 175);
		border-radius: 8px;
	}

	// .right {
	// 	display: grid;
	// 	grid-template-rows: 1fr 80px;
	// 	padding: 24px 16px;
	// 	color: #fff;
	// 	font-size: 20px;
	// 	background-color: rgb(4, 135, 175);
	// 	border-radius: 8px;
	// 	margin-left: 10px;
	// }
}

.list_blogs {
	display: grid;
	grid-template-rows: 1fr 80px;
	width: 280px;
	height: 256px;
	color: #774f38;
	font-weight: 400;
	font-size: 16px;
	//background-color: rgb(255, 255, 255);
	// background-color: #c5e0dc;
	border-radius: 1rem;
	border-radius: 8px;
	box-shadow: rgb(0 0 0 / 8%) 0 2px 4px, rgb(0 0 0 / 6%) 0 2px 12px;
	cursor: pointer;
	transition: all 0.2s ease-in 0s;
	animation: 0.3s ease-in-out 0s;

	.thumbnail {
		// object-fit: cover;
		// background-color: black;
		// opacity: 0.6;
	}

	.blog_title {
		display: grid;
		padding: 1rem;
		place-items: center;
	}

	.footer {
		display: grid;
		grid-template-columns: 1fr 30px;
		padding: 0.3rem 0.1rem 0.1rem 0.5rem;
		//background-color: #fff;

		.right {
			text-align: center;
		}
	}
}

.repo_list {
	display: flex;
	padding: 1rem;
	flex-wrap: wrap;
	gap: 2rem;
}

.page_header {
	height: 60px;
	padding: 1rem 0;
}
