.container {
	display: grid;
	grid-template-columns: 75% 25%;
	min-height: 100vh;
	padding: 1rem;

	.left {
		padding: 1rem;
		padding-top: 30px;
		// overflow-x: ;
		background-color: #fff;
	}

	.right {
		padding: 1rem;
		overflow: hidden;
		padding-top: 20px;
		background-color: rgb(218, 205, 205);
		max-height: 100vh;
		min-height: 100vh;
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		position: sticky;
		right: 0;
		top: 0;
	}
}

.flex_end {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	column-gap: 3px;
	padding: 10px;
}

.option {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 4%), 0 1px 3px rgba(0, 0, 0, 4%);
	border-radius: 2px;
	padding: 5px;
	background-color: #fff;
	cursor: pointer;
}

.drop_zone {
	display: flex;
	// justify-content: center;
	 width: 100%;
}

.flex_start {
	display: flex;
	justify-content: flex-start;
	column-gap: 3px;
	padding: 10px;
}


.swatch {
	padding: 5px;
	background-color: #fff;
	border-radius: 1px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	display: inline-block;
	cursor: pointer;
}
.popover {
	position: absolute;
	z-index: 2
}
.cover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}