.container {
    display: grid;
    grid-template-columns: 75% 25%;
    min-height: 100vh;
    padding: 1rem;

    .left {
        padding: 1rem;
        padding-top: 30px;
        // overflow-x: ;
		background-color: #fff;
	}

	.right {
        padding: 1rem;
        overflow: hidden;
        padding-top: 20px;
		background-color:rgb(218, 205, 205);
	}
}